.heading-1
  +text-6xl
  font-weight: 700

.heading-2
  +text-5xl
  font-weight: 700

.heading-3
  +text-4xl
  font-weight: 700

.heading-4
  +text-3xl
  font-weight: 700

.heading-5
  +text-2xl
  font-weight: 700

.heading-6
  +text-xl
  font-weight: 500

.subheading-1
  +text-lg
  font-weight: 500

.subheading-2
  +text-base
  font-weight: 500

.subheading-3
  +text-tiny
  font-weight: 500

.body-1
  +text-lg
  color: var(--neutral-600)

.body-2
  +text-base
  letter-spacing: 0.2px

.body-3
  +text-tiny
  color: var(--neutral-600)

.body-1-hyperlink
  +text-lg
  text-decoration: underline

.body-2-hyperlink
  +text-base
  text-decoration: underline

.body-3-hyperlink
  +text-tiny
  text-decoration: underline
  color: var(--red-500)

.caption-1
  +text-sm
  color: var(--neutral-800)

.caption-2
  +text-xs
  color: var(--neutral-500)

.subtitle-1
  +text-lg
  font-weight: 500
  letter-spacing: 0.25px

.subtitle-2
  +text-base
  font-weight: 500
  letter-spacing: 0.2px

.subtitle-3
  +text-tiny
  font-weight: 500
  letter-spacing: 0.4px
  color: var(--neutral-500)
