@import "../abstraction/variables"
\:root
  --white: #ffffff
  --black: #000000
  --blue: #4C89FF
  --blue-light: #F5F9FF
  --yellow: #FFCE20
  --yellow-light: #FFFBEF
  --yellow-dark: #BB9510
  --green: #35B871
  --green-dark: #209154
  --gray: #D6D6D6
  --gray-light: #F8F8F8
  --gray-dark: #828282

  // Container
  --containerPadding: 24px
  --container: 1296px
  --containerWidth: calc(var(--container) + var(--containerPadding) + var(--containerPadding))

  // Header
  --header-height: 81px

// Media
@media (max-width: $lg)
  \:root
    --header-height: 63px


